@use '../Utils/variables' as *;
@use '../Utils/mixins' as *;

.dropdownContainer{
    margin-bottom: 15px;
    .dropdown{
        @include flexbox(space-between);
        height: 30px;
        width: 100%;
        background-color: $colorPrimary;
        border-radius: 5px;
        .dropdownTitle{
            color: $colorSecondary;
            font-size: 13px;
            margin-left: 10px;
        }
        .dropdownVector{
            transform: rotate(-90deg);
            margin-right: 10px;
        }
    }
    .dropdownText{
        background-color: $colorTertiary;
        border-radius: 5px;
        padding: 5px;
        display: flex;
        flex-direction: column;
        p{
            color: $colorPrimary;
            font-size: 12px;
            margin: 0;
        }
    }
}
