@use '../Utils/variables' as *;
@use '../Utils/mixins' as *;

.dropdownContainer{
    margin-bottom: 15px;
    @include desktop{
        width: 47%;
    }
    .dropdown{
        @include flexbox(space-between);
        height: 30px;
        width: 100%;
        background-color: $colorPrimary;
        border-radius: 5px;
        @include desktop{
            height: 52px;
            border-radius: 10px;
            width: 100%;

        }
        
        .dropdownTitle{
            color: $colorSecondary;
            font-size: 13px;
            margin-left: 10px;
            @include desktop{
                font-size: 18px;
            }
        }
        .dropdownVector{
            transform: rotate(-90deg);
            margin-right: 10px;
        }
    }
    .dropdownText{
        background-color: $colorTertiary;
        border-radius: 5px;
        padding: 5px;
        display: flex;
        flex-direction: column;
        @include desktop{
            border-radius: 10px;
        }
        p{
            color: $colorPrimary;
            font-size: 12px;
            margin: 0;
            @include desktop{
                font-size: 18px;
            }
        }
    }
}


