@use '../Utils/variables' as *;
@use '../Utils/mixins' as *;

.footerContainer {
    @include flexbox(flex-end);
    flex-direction: column;
    width: 100%;
    height: 180px;
    background-color: black;
    color: $colorSecondary;
    margin-top: 15px;
    p {
        margin: 40px 0 20px 0;
        font-style: normal;
        font-weight: 500;
        font-size: 12px;
    }
}
