/*@keyframes SlideDown{
    from {
    transform: translateY(20px);
    opacity: 0;
    }
    to {
    transform: translateY(0px);
    opacity: 1;
    }
}

@keyframes spin{
    100% {
    transform:rotate(360deg);
    }
}
    
@keyframes loader{
    100% {
    opacity: 0;
    z-index: -10;
    }
}*/



