@use '../Utils/variables' as *;
@use '../Utils/mixins' as *;

.containerError404{
    @include flexbox(center);
    flex-direction: column;

    h1{
        font-size: 96px;
        color: $colorPrimary;
        font-weight: 700;
        margin: 85px 0 0 0;
    }
    h2{
        font-size: 18px;
        color: $colorPrimary;
        display: flex;
        align-items: flex-end;
        text-align: center;
        font-weight: 500;
    }
    h3{
        font-size: 14px;
        color: $colorPrimary;
        font-weight: 500;
        margin-top: 100px;
    }
}
