@use '../Utils/mixins' as *;
@use '../Utils/variables' as *;

.mainContainer{
    width: 100%;
    margin: auto;
    @include desktop{
        max-width: 1440px;
    }
    .sectionContainer {
        padding: 0 15px 15px 15px;
        @include desktop{
            max-width: 1440px;
            padding: 0;
        }
        .articleContainer{
            width: 100%;
            height: 100%;
            @include flexbox(space-around);
            flex-wrap: wrap;
            @include desktop{
                width: 90%;
                height: 100%;
                margin: 0 auto;
                padding-bottom: 35px;
                border-radius: 25px;
                background-color: $colorTertiary;
            }
        }
    }
}

