//RESOLUTION ECRAN
$breakpoints: (
    "mobile": 500px,
    "tablette": 768px,
    "desktop": 900px,
);

//POLICE
$policePrimary: 'Montserrat', sans-serif;

//COULEURS
$colorPrimary: #FF6060;
$colorSecondary: #FFFFFF;
$colorTertiary: #F6F6F6;