.bannerContainer {
    width: 100%;
    height: 100px;
    padding: 0 15px;
    .bannerImg{
        width: 100%;
        height: 100%;
        background-image: url(../../assets/Image.png);
        background-position: center;
        background-repeat: none;
        background-size: cover;
        opacity: 70%;
        border-radius: 10px;
    }
}



