.dropdownContainer{
    margin-bottom: 15px;
    .dropdown{
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 30px;
        width: 100%;
        background-color: #FF6060;
        border-radius: 5px;
        .dropdownTitle{
            color: #FFFFFF;
            font-size: 13px;
            margin-left: 10px;
        }
        .dropdownVector{
            transform: rotate(-90deg);
            margin-right: 10px;
        }
    }
    .dropdownText{
        background-color: #F6F6F6;
        border-radius: 5px;
        padding: 5px;
        display: flex;
        flex-direction: column;
        p{
            color: #FF6060;
            font-size: 12px;
            /*padding: 0;*/
            margin: 0;
        }
    }
}
